---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about the author"
	pubDate={new Date()}
	heroImage="/shubham-dhage-T9rKvI3N0NM-unsplash.jpg"
>
	<p>
		hello!, My name is Aryan Pudasaini, a medical student studying in Bangladesh.
		I am very drawn to Philosophy, Novels, Music, Movies and nature. </p>
		
	<p>	Life as a medical student is very monotonous yet I try my very best to make time for 
		my blog where I will be writing on various subject that are of my interest. </p>
		
	<p>	I am open to new ideas and perspectives, please do not hesitate to contact me. </p>
</Layout>
