---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about the author"
    pubDate={new Date()} 
    heroImage=""
>
<p style="font-size:20px;">
As a medical student studying in Bangladesh, I am pursuing a career in healthcare. I'm quite interested in philosophical fiction, films, fitness, Music and physiology. Aside from that, I support Linux and the open-source community. Considering how monotonous medical school is, I make an effort to find time for my blog, where I write about a variety of topics that I find interesting.<br> 
</p>
</Layout>
